@import "tailwindcss";

@theme {
   /* --color-primary: oklch(63.23% 0.12 281.62); */
   --color-primary: oklch(83.23% 0.12 281.62);
   --color-accent: oklch(40.04% 0.13 271.41);
   --color-secondary: oklch(13.36% 0.13 281.96);
   --color-dark: oklch(6.67% 0.07 260.15);
   /* --color-primary: oklch(89.68% 0.08 102.12);
   --color-accent: oklch(22.17% 0.09 265.17);
   --color-secondary: oklch(70.71% 0.11 243.98);
   --color-dark: oklch(10.31% 0.03 248.06); */
}

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid #6EACDA;
   animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
   }

   12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
   }

   100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
   }
}

@keyframes spinner-oaa3wk {
   0% {
      transform: scaleY(1) rotate(0deg);
   }

   49.99% {
      transform: scaleY(1) rotate(135deg);
   }

   50% {
      transform: scaleY(-1) rotate(0deg);
   }

   100% {
      transform: scaleY(-1) rotate(-135deg);
   }
}


img {
   transition: .3s ease all;
}

img:hover {
   scale: 102%;
}